.container {
  display: flex;
  width: 100%;
  position: relative;
  background-color: rgb(152, 152, 152);
  padding: 3rem;
  height: auto;
  box-sizing: border-box;
}

.front {
  width: 70%;
  z-index: 1;
  /* border: 3px solid red; */
  position: absolute;
  overflow: hidden;
  background: white;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  font-size: smaller;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.back {
  background: white;
  width: 70%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  left: 150px;
  font-size: smaller;
  box-sizing: border-box;
  margin-top: -80px;
}