.container {
  width: 100%;
  margin:  auto;
}

.upper__half {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
  margin-bottom: 60px;
}

.main__line1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-top:30px;
  margin-bottom: 30px;
  text-align: center;
}
.span__clr{
  color:#5459E8;
}
.cards_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0rem 2rem;
}

.cards_box div {
  width: 160px;
  height: auto;
  /* border: 5px solid rgb(136, 36, 36); */
  margin: auto;
  display: flex;
}

.cards_box img {
  /* max-width: 100%; */
  object-fit: cover;

}

@media (max-width: 768px) {
  .cards_box div {
    width: 120px;
  }
}

.lower__half {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
}

.main__line2 {
  padding: 90px;
  /* border: 2px solid red; */
}

.h2__tag {
  font-size: 40px;
  font-weight: 600;
  color: gray;
  text-align: center;
}

.p__tag {
  text-align: center;
}

.main__line2 p {
  margin-top: 20px;
  /* border: 2px solid red; */

}

.div__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.title {
  width: 300px;
  height: auto;
  margin: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* border: 2px solid red; */
  padding: 10px 20px;
  border-radius: 10px;
}

.desc {
  margin-top: 20px;
  text-align: center;
}

.learn__more {
  margin-top: 20px;
  text-align: center;
}

hr {
  width: 50%;
  
}

.first{
 border-color: #5459E8;
}

.second{
  border-color: orangered;
 }

 .third{
  border-color: greenyellow;
 }

@media (max-width: 768px) {
  .main__line2 {
    padding: 60px;
  }

  .h2__tag {
    font-size: 30px;
  }

  .div__box div {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .main__line2 {
    padding: 30px;
  }

  .h2__tag {
    font-size: 20px;
  }

  .div__box div {
    width: 100%;
    margin: 10px 0;
  }
}