.container {
    width: 100%;
    height: auto;
    background-color: #5459E8;
    margin-top: 90px;
    /* border: 2px solid red; */
    padding: 3rem 0rem;
  }
  
  .heading {
    width: 80%;
    /* border: 2px solid red;/\ */
    margin: auto;
    padding: 1rem 0rem;
    
  }
  
  .title {
    font-size: 40px;
    color: white;
    /* border: 2px solid red; */
  }
  
  .desc {
    /* padding: 20px 0; */
    color: white;
    /* border: 2px solid rgb(255, 44, 44); */
  }
  
  .card__div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    gap: 15px;
    margin: auto;
    /* border: 2px solid black; */
  }
  
  .card__div div {
    width: 350px;
    height: auto;
    /* margin-bottom: 20px; */
    background-color: white;
    /* border: 2px solid rgb(72, 247, 95); */
  }
  
  .card__div div img {
    width: 100%;
    height: auto;
    /* border: 2px solid rgb(255, 25, 25); */
  }
  
  .content {
    /* padding: 10px 30px 20px; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* border: 2px solid rgb(255, 230, 2); */
  }
  
  .course__title {
    font-size: 24px;
    padding:1.3rem ;
    font-weight: 800;
    /* border: 2px solid rgb(0, 247, 255); */
  }
  
  .course__university {
    font-size: 16px;
    color: gray;
    /* border: 2px solid rgb(212, 0, 255); */
    padding:1.3rem ;
  }
  
  .course {
    font-size: 16px;
    font-weight: 600;
    padding:1.3rem ;
    color: gray;
    /* border: 2px solid rgba(0, 255, 42, 0.863); */
  }
  
  @media screen and (max-width: 768px) {
    .heading {
      width: 100%;
      padding: 60px 40px 0;
    }
  
    .title {
      font-size: 32px;
    }
  
    .desc {
      padding: 20px 40px;
    }
  
    .card__div {
      padding: 30px;
    }
  
    .card__div div {
      width: 100%;
      margin-bottom: 40px;
    }
  
    .content {
      padding: 10px 20px 20px;
    }
  
    .course__title {
      font-size: 20px;
    }
  
    .course__university {
      font-size: 14px;
    }
  
    .course {
      font-size: 14px;
    }
  }