.container{
    width: 100%;

}
.lower__half {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

.main__line2 {
  padding: 90px;
  border: 2px solid red;
}
.h2__tag {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.p__tag {
  padding: 20px 0;
  color: gray;
  display: flex;
  justify-content: center;
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}
.icon_content{
    display: flex;
    gap: 30px;
    /* border: 2px solid black; */
    padding: 25px 10px 0 25px ;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.icon__text{
    /* border: 1px solid black; */
    width: 150px;
    font-weight: 600;
}

.courses{
    padding: 20px 0 30px;
    color: gray;
}