.lower__half {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
  /* padding: 20px;  */
}

.main__line2 {
  /* padding: 30px; */
  /* border: 2px solid red; */
  margin-top: 60px;
  margin-bottom: 60px;
}

.h2__tag {
  font-size: 30px;
  text-align: center;
  /* reduce font size for smaller screens */
}

.p__tag{
  text-align: center;
}
.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .grid__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.icon_content {
  flex-direction: column; /* stack the icon and text vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.icon_content svg {
  margin-bottom: 10px; /* add some space between the icon and text */
}

.icon__text {
  width: auto;
  font-size: 16px; /* reduce font size for smaller screens */
}

.courses {
  padding: 10px 0;
  font-size: 14px; /* reduce font size for smaller screens */
}