.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: 1px solid red;
  margin-top: 30px;
}

.logo__name {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

div img {
  width: 40px;
}

.nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__items li {
  margin: 0;
  padding: 0;
}

.nav__items a {
  text-decoration: none;
  color: #333;
}

.buttons__div {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.login__btn,
.register__btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-family: Poppins;
}

.login__btn {
  border: 1px solid blue;
  color: blue;
  background-color: white;
}

.register__btn {
  border: 1px solid #5459E8;
  color: white;
  background-color: #5459E8;
}

@media only screen and (min-width: 600px) {
  .logo__name {
    margin-left: 40px;
  }

  div img {
    width: 50px;
  }

  .nav__items {
    flex-direction: row;
    gap: 30px;
  }

  .buttons__div {
    gap: 30px;
  }

  .login__btn,
  .register__btn {
    padding: 10px 30px;
    font-size: 16px;
  }
}