.container {
  width: 100%;
}

.lower__half {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
}

.main__line2 {
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2__tag {
  font-size: 32px;
}

.p__tag {
  padding: 20px 10px;
  font-size: 14px;
}

.togglebtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.toggle__container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pricing__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.pricing__div_card {
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px;
  padding: 30px;
}

.price__txt {
  font-size: 2rem;
  font-weight: 600;
}

.price__month {
  font-size: 1rem;
  color: gray;
}

.pricing__div_card button {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 5px;
  border: 1px solid #5459E8;
  background-color: white;
}

.offers__avail {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

.offers__avail p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.offers__avail span {
  margin-right: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .main__line2 {
    padding: 60px;
  }

  .h2__tag {
    font-size: 40px;
  }

  .p__tag {
    padding: 20px 0;
    font-size: 18px;
  }

  .togglebtn {
    flex-direction: row;
    padding: 30px;
    font-size: 24px;
  }

  .toggle__container {
    margin-right: 10px;
  }

  .pricing__div {
    flex-direction: row;
    padding: 60px 50px 0 50px;
  }

  .pricing__div_card {
    margin: 10px;
  }

  .price__txt {
    font-size: 3rem;
  }

  .price__month {
    font-size: 1rem;
  }

  .pricing__div_card button {
    font-size: 16px;
    padding: 10px 60px;
  }

  .offers__avail p {
    font-size: 18px;
  }
}

.pricing__hover:hover{
  background-color: #5459E8;
  color: white;
}